USE [master]
GO
/****** Object:  Database [LotesDB]    Script Date: 9/17/2026 9:18:49 PM ******/
CREATE DATABASE [LotesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LotesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LotesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LotesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LotesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LotesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LotesDB]
GO
/****** Object:  Table [dbo].[Abonos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonos](
	[IdAbono] [int] IDENTITY(1,1) NOT NULL,
	[IdCuota] [int] NOT NULL,
	[FechaAbono] [date] NOT NULL,
	[MontoAbonado] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Abonos__A4693DA701137B3E] PRIMARY KEY CLUSTERED 
(
	[IdAbono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[IdCiudad] [int] IDENTITY(1,1) NOT NULL,
	[NombreCiudad] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Identidad] [varchar](20) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Clientes__D59466425BBE746A] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[IdContrato] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdLote] [int] NOT NULL,
	[FechaContrato] [date] NOT NULL,
	[FinContrato] [date] NOT NULL,
	[PrecioVenta] [decimal](12, 2) NOT NULL,
	[TipoVenta] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NULL,
 CONSTRAINT [PK__Contrato__8569F05AFA5250FA] PRIMARY KEY CLUSTERED 
(
	[IdContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuotas]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas](
	[IdCuota] [int] IDENTITY(1,1) NOT NULL,
	[IdFinanciamiento] [int] NOT NULL,
	[NumeroCuota] [int] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[IdContrato] [int] NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
	[RutaArchivo] [varchar](300) NULL,
	[FechaRegistro] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Document__E5207347F45B203D] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntregaTerrenos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregaTerrenos](
	[IdEntrega] [int] IDENTITY(1,1) NOT NULL,
	[IdContrato] [int] NOT NULL,
	[FechaEntrega] [date] NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__EntregaT__C852F5531CFA5C9F] PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financiamientos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financiamientos](
	[IdFinanciamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdContrato] [int] NOT NULL,
	[MontoFinanciado] [decimal](12, 2) NOT NULL,
	[TasaInteres] [decimal](5, 2) NOT NULL,
	[PlazoMeses] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Financia__18DBB828D8781E7F] PRIMARY KEY CLUSTERED 
(
	[IdFinanciamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lotes]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[IdLote] [int] IDENTITY(1,1) NOT NULL,
	[IdTerreno] [int] NOT NULL,
	[NumeroLote] [varchar](20) NOT NULL,
	[Area] [decimal](10, 2) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[FechaEditado] [date] NULL,
	[EditarPor] [varchar](50) NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Lotes__38C4EE90112B4FDD] PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[IdProyecto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProyecto] [varchar](100) NOT NULL,
	[Ubicacion] [varchar](200) NULL,
	[FechaInicio] [date] NULL,
	[FechaFinal] [date] NULL,
	[Estado] [varchar](30) NULL,
 CONSTRAINT [PK__Proyecto__F48886739C1FCD07] PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaciones]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaciones](
	[IdReservacion] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdLote] [int] NOT NULL,
	[FechaReservacion] [date] NOT NULL,
	[MontoReserva] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguimientoContratos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguimientoContratos](
	[IdSeguimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdContrato] [int] NOT NULL,
	[FechaSeguimiento] [date] NOT NULL,
	[Observacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terrenos]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terrenos](
	[IdTerreno] [int] IDENTITY(1,1) NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[NombreTerreno] [varchar](100) NULL,
	[AreaTotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTerreno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/17/2026 9:18:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NULL,
	[Clave] [varbinary](32) NOT NULL,
	[UltimoAcceso] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Usuarios__5B65BF97D59B2438] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abonos] ON 

INSERT [dbo].[Abonos] ([IdAbono], [IdCuota], [FechaAbono], [MontoAbonado], [Estado]) VALUES (1, 6, CAST(N'2026-09-16' AS Date), CAST(158.66 AS Decimal(12, 2)), 1)
INSERT [dbo].[Abonos] ([IdAbono], [IdCuota], [FechaAbono], [MontoAbonado], [Estado]) VALUES (2, 7, CAST(N'2026-09-16' AS Date), CAST(158.66 AS Decimal(12, 2)), 1)
INSERT [dbo].[Abonos] ([IdAbono], [IdCuota], [FechaAbono], [MontoAbonado], [Estado]) VALUES (3, 8, CAST(N'2026-09-16' AS Date), CAST(41.34 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Abonos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([IdCiudad], [NombreCiudad], [Estado]) VALUES (1, N'La Ceiba', 1)
INSERT [dbo].[Ciudades] ([IdCiudad], [NombreCiudad], [Estado]) VALUES (2, N'Tegucigalpa', 1)
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [IdCiudad], [Nombre], [Apellido], [Identidad], [Telefono], [Correo], [Direccion], [Estado]) VALUES (1, 1, N'David', N'Castillo', N'0101200501000', N'94300160', NULL, N'Col Z.', 1)
INSERT [dbo].[Clientes] ([IdCliente], [IdCiudad], [Nombre], [Apellido], [Identidad], [Telefono], [Correo], [Direccion], [Estado]) VALUES (2, 2, N'Iris', N'Castro', N'1621197800158', N'94300160', N'davihn@gmail.com', N'Col Raul Pineda', 1)
INSERT [dbo].[Clientes] ([IdCliente], [IdCiudad], [Nombre], [Apellido], [Identidad], [Telefono], [Correo], [Direccion], [Estado]) VALUES (3, 1, N'Marcio', N'Rivera', N'0102195800158', N'95010103', NULL, N'Col. Union', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Contratos] ON 

INSERT [dbo].[Contratos] ([IdContrato], [IdCliente], [IdLote], [FechaContrato], [FinContrato], [PrecioVenta], [TipoVenta], [Estado]) VALUES (1, 2, 1, CAST(N'2026-09-16' AS Date), CAST(N'2035-01-16' AS Date), CAST(10000.00 AS Decimal(12, 2)), N'Financiado', N'Activo')
INSERT [dbo].[Contratos] ([IdContrato], [IdCliente], [IdLote], [FechaContrato], [FinContrato], [PrecioVenta], [TipoVenta], [Estado]) VALUES (2, 3, 3, CAST(N'2026-09-16' AS Date), CAST(N'2026-09-16' AS Date), CAST(10000.00 AS Decimal(12, 2)), N'Contado', N'Activo')
INSERT [dbo].[Contratos] ([IdContrato], [IdCliente], [IdLote], [FechaContrato], [FinContrato], [PrecioVenta], [TipoVenta], [Estado]) VALUES (3, 1, 4, CAST(N'2026-09-17' AS Date), CAST(N'2030-09-17' AS Date), CAST(150000.00 AS Decimal(12, 2)), N'Financiado', N'Activo')
SET IDENTITY_INSERT [dbo].[Contratos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cuotas] ON 

INSERT [dbo].[Cuotas] ([IdCuota], [IdFinanciamiento], [NumeroCuota], [FechaVencimiento], [Monto], [Estado]) VALUES (6, 6, 1, CAST(N'2026-10-16' AS Date), CAST(158.66 AS Decimal(12, 2)), N'Pagada')
INSERT [dbo].[Cuotas] ([IdCuota], [IdFinanciamiento], [NumeroCuota], [FechaVencimiento], [Monto], [Estado]) VALUES (7, 6, 2, CAST(N'2026-11-16' AS Date), CAST(158.66 AS Decimal(12, 2)), N'Pagada')
INSERT [dbo].[Cuotas] ([IdCuota], [IdFinanciamiento], [NumeroCuota], [FechaVencimiento], [Monto], [Estado]) VALUES (8, 6, 3, CAST(N'2026-12-16' AS Date), CAST(158.66 AS Decimal(12, 2)), N'Pago Parcial')
GO
SET IDENTITY_INSERT [dbo].[Cuotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Financiamientos] ON 

INSERT [dbo].[Financiamientos] ([IdFinanciamiento], [IdContrato], [MontoFinanciado], [TasaInteres], [PlazoMeses], [FechaInicio], [Estado]) VALUES (6, 1, CAST(10000.00 AS Decimal(12, 2)), CAST(12.00 AS Decimal(5, 2)), 100, CAST(N'2026-09-16' AS Date), N'Activo')
INSERT [dbo].[Financiamientos] ([IdFinanciamiento], [IdContrato], [MontoFinanciado], [TasaInteres], [PlazoMeses], [FechaInicio], [Estado]) VALUES (7, 3, CAST(150000.00 AS Decimal(12, 2)), CAST(12.00 AS Decimal(5, 2)), 15, CAST(N'2026-09-17' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[Financiamientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Lotes] ON 

INSERT [dbo].[Lotes] ([IdLote], [IdTerreno], [NumeroLote], [Area], [Precio], [FechaEditado], [EditarPor], [Estado]) VALUES (1, 1, N'1', CAST(100.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(12, 2)), CAST(N'2026-09-16' AS Date), N'admin1', N'Vendido')
INSERT [dbo].[Lotes] ([IdLote], [IdTerreno], [NumeroLote], [Area], [Precio], [FechaEditado], [EditarPor], [Estado]) VALUES (2, 2, N'2', CAST(450.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(12, 2)), CAST(N'2026-09-16' AS Date), N'Sistema-Reparacion', N'Disponible')
INSERT [dbo].[Lotes] ([IdLote], [IdTerreno], [NumeroLote], [Area], [Precio], [FechaEditado], [EditarPor], [Estado]) VALUES (3, 1, N'3', CAST(150.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(12, 2)), CAST(N'2026-09-17' AS Date), N'admin1', N'Entregado')
SET IDENTITY_INSERT [dbo].[Lotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyectos] ON 

INSERT [dbo].[Proyectos] ([IdProyecto], [NombreProyecto], [Ubicacion], [FechaInicio], [FechaFinal], [Estado]) VALUES (1, N'Próspera Satuye', N'Satuye', CAST(N'2026-09-09' AS Date), CAST(N'2027-09-09' AS Date), N'En Proceso')
INSERT [dbo].[Proyectos] ([IdProyecto], [NombreProyecto], [Ubicacion], [FechaInicio], [FechaFinal], [Estado]) VALUES (2, N'El Progreso Terrenos', N'El Progreso', CAST(N'2026-09-01' AS Date), CAST(N'2028-10-01' AS Date), N'En Desarrollo')
SET IDENTITY_INSERT [dbo].[Proyectos] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservaciones] ON 

INSERT [dbo].[Reservaciones] ([IdReservacion], [IdCliente], [IdLote], [FechaReservacion], [MontoReserva], [Estado]) VALUES (1, 3, 3, CAST(N'2026-09-15' AS Date), CAST(1.00 AS Decimal(12, 2)), N'Convertida')
INSERT [dbo].[Reservaciones] ([IdReservacion], [IdCliente], [IdLote], [FechaReservacion], [MontoReserva], [Estado]) VALUES (2, 1, 4, CAST(N'2026-09-17' AS Date), CAST(10000.00 AS Decimal(12, 2)), N'Convertida')
SET IDENTITY_INSERT [dbo].[Reservaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'administrador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (3, N'contador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (4, N'gestor_pagos')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Terrenos] ON 

INSERT [dbo].[Terrenos] ([IdTerreno], [IdProyecto], [NombreTerreno], [AreaTotal]) VALUES (1, 1, N'terreno1', CAST(300.00 AS Decimal(12, 2)))
INSERT [dbo].[Terrenos] ([IdTerreno], [IdProyecto], [NombreTerreno], [AreaTotal]) VALUES (2, 2, N'terreno2', CAST(500.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Terrenos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Usuario], [Correo], [Clave], [UltimoAcceso], [Estado]) VALUES (3, 1, N'admin1', NULL, 0x3E6DC62F220C57F4E44E3DD541C175B3A4FD22986BAFA16D47CE3D4C2B224AC8, CAST(N'2026-09-17' AS Date), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Usuario], [Correo], [Clave], [UltimoAcceso], [Estado]) VALUES (4, 2, N'Javier', N'javi@gmail.com', 0xB1B75ED39A702590A40C7DA71BF66B3826CD6F4D72BF005565C0B7FA1D125C59, CAST(N'2026-09-17' AS Date), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Usuario], [Correo], [Clave], [UltimoAcceso], [Estado]) VALUES (5, 1, N'Guzman', N'c_guzman@unitec.edu', 0xEB015D9F99FB87B8543510163047A5477BCFF542B962480011055FB9C361E469, CAST(N'2026-09-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__5C06DCB4E6890573]    Script Date: 9/17/2026 9:18:49 PM ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ__Clientes__5C06DCB4E6890573] UNIQUE NONCLUSTERED 
(
	[Identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__4F0B537FADE0065D]    Script Date: 9/17/2026 9:18:49 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF70320AF7D]    Script Date: 9/17/2026 9:18:49 PM ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__E3237CF70320AF7D] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciudades] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Contratos] ADD  CONSTRAINT [DF__Contratos__Estad__3D5E1FD2]  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Cuotas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservaciones] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Ultimo__571DF1D5]  DEFAULT (getdate()) FOR [UltimoAcceso]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Estado__286302EC]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Abonos]  WITH CHECK ADD  CONSTRAINT [FK__Abonos__IdCuota__48CFD27E] FOREIGN KEY([IdCuota])
REFERENCES [dbo].[Cuotas] ([IdCuota])
GO
ALTER TABLE [dbo].[Abonos] CHECK CONSTRAINT [FK__Abonos__IdCuota__48CFD27E]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Ciudades] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudades] ([IdCiudad])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Ciudades]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK__Contratos__IdCli__3E52440B] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK__Contratos__IdCli__3E52440B]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK__Contratos__IdLot__3F466844] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lotes] ([IdLote])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK__Contratos__IdLot__3F466844]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_Financiamientos] FOREIGN KEY([IdFinanciamiento])
REFERENCES [dbo].[Financiamientos] ([IdFinanciamiento])
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_Financiamientos]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK__Documento__IdCon__4BAC3F29] FOREIGN KEY([IdContrato])
REFERENCES [dbo].[Contratos] ([IdContrato])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK__Documento__IdCon__4BAC3F29]
GO
ALTER TABLE [dbo].[EntregaTerrenos]  WITH CHECK ADD  CONSTRAINT [FK__EntregaTe__IdCon__5165187F] FOREIGN KEY([IdContrato])
REFERENCES [dbo].[Contratos] ([IdContrato])
GO
ALTER TABLE [dbo].[EntregaTerrenos] CHECK CONSTRAINT [FK__EntregaTe__IdCon__5165187F]
GO
ALTER TABLE [dbo].[Financiamientos]  WITH CHECK ADD  CONSTRAINT [FK__Financiam__IdCon__4222D4EF] FOREIGN KEY([IdContrato])
REFERENCES [dbo].[Contratos] ([IdContrato])
GO
ALTER TABLE [dbo].[Financiamientos] CHECK CONSTRAINT [FK__Financiam__IdCon__4222D4EF]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK__Lotes__IdTerreno__34C8D9D1] FOREIGN KEY([IdTerreno])
REFERENCES [dbo].[Terrenos] ([IdTerreno])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK__Lotes__IdTerreno__34C8D9D1]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FK__Reservaci__IdCli__38996AB5] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FK__Reservaci__IdCli__38996AB5]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD  CONSTRAINT [FK__Reservaci__IdLot__398D8EEE] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lotes] ([IdLote])
GO
ALTER TABLE [dbo].[Reservaciones] CHECK CONSTRAINT [FK__Reservaci__IdLot__398D8EEE]
GO
ALTER TABLE [dbo].[SeguimientoContratos]  WITH CHECK ADD  CONSTRAINT [FK__Seguimien__IdCon__4E88ABD4] FOREIGN KEY([IdContrato])
REFERENCES [dbo].[Contratos] ([IdContrato])
GO
ALTER TABLE [dbo].[SeguimientoContratos] CHECK CONSTRAINT [FK__Seguimien__IdCon__4E88ABD4]
GO
ALTER TABLE [dbo].[Terrenos]  WITH CHECK ADD  CONSTRAINT [FK__Terrenos__IdProy__30F848ED] FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyectos] ([IdProyecto])
GO
ALTER TABLE [dbo].[Terrenos] CHECK CONSTRAINT [FK__Terrenos__IdProy__30F848ED]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [CK__Contratos__TipoV__3C69FB99] CHECK  (([TipoVenta]='Financiado' OR [TipoVenta]='Contado'))
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [CK__Contratos__TipoV__3C69FB99]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [CK__Lotes__Estado__33D4B598] CHECK  (([Estado]='Entregado' OR [Estado]='Vendido' OR [Estado]='Reservado' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [CK__Lotes__Estado__33D4B598]
GO
USE [master]
GO
